.timer {
  margin-top: 100px;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.field {
  text-align: center;
  width: 160px;
  font-size: 24px;
  padding: 20px;
}

.value {
  display: block;
  padding: 16px 12px;
  border-radius: 5px;
  font-size: 60px;
}

.label {
  display: block;
  margin-top: 12px;
  text-transform: uppercase;
}
